<!-- Author: Mel Vincent Anonuevo
Student ID: 301167069
Date: Feb 1, 2022 -->
  <script src="jquery/dist/jquery.slim.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script>
    var getTitle = "<%= title %>";
  </script>
  <script src="javascripts/app.js"></script>
</body>
</html>